.highlights {
    background: #f7f5f2;
}

.highlights-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px 20px;
}

.highlights-imgs {
    display: flex;
    gap: 20px;

    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 60px 20px;
}

.highlights-imgs a {
    position: relative;
    min-width: 280px;
    max-width: 280px;
    flex-shrink: 0;
    text-decoration: none;
    display: block;
}

.highlights-imgs img {
    width: 100%;
    height: 220px;
    display: block;
    border-radius: 4px;
    object-fit: cover;
}

.highlights-imgs a p {
    display: inline-block;
    position: relative;
    
    font-size: 18px;
    font-weight: 600;
    color: rgb(81, 38, 38);
    margin: 12px 0 0;
}
.highlights-imgs a p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: rgb(81, 38, 38);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.highlights-imgs a:hover p::after {
    transform: scaleX(1);
}

