.muji-stories {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 80px auto;
    padding: 0 80px;
}

.muji-stories h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 32px;
}

.muji-stories-story{
    display: flex;
    gap: 0.4em;
}

.muji-story {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    align-items: flex-start;
}

.muji-story-link {
    display: flex;
    flex-direction: column;
    gap: 12px;

    text-decoration: none;
    color: inherit;
}

.muji-story-image{
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.story-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

.story-content {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.read-story{
    font-style: italic;
}

.muji-story:hover .story-content,
.muji-story:hover .story-title{
    color: rgb(198, 107, 107);
}