body{
    font-family: Arial, Helvetica, sans-serif;
}

.marquee{
    width: 100%;
    height: 2rem;
    font-size: 18px;
    background-color: rgb(88, 88, 89);
    padding-top: 8px;
}
.marquee a{
    color: aliceblue;
    text-decoration: none;
}
.marquee a:hover{
    text-decoration: underline;
}